.checkout-page {
  .info-box {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(176, 176, 176, 1);
    padding: 12px 16px;
    border-radius: 12px;

    .title {
      font-size: 16px;
      font-weight: 600;
      color: rgba(4, 152, 84, 1);
      margin-top: 4px;
    }

    .text {
      margin: 4px 0 8px;
      font-size: 14px;
    }
  }

  .subscribe_promotion_info {
    font-size: 9px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0.02em;
  }

  form.checkout {
    padding: 24px 0 250px;
  }

  .footer {
    position: fixed;
    bottom: 0;
    height: 138px;
    background: linear-gradient(180deg, rgba(246, 246, 246, 0.8) 0%, rgba(255, 255, 255, 0.8) 100%);
    backdrop-filter: blur(8px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 16px 34px;
    gap: 12px;
    z-index: 1;

    span {
      width: 80%;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      color: #6A6A6A;
      text-align: center;
    }
  }
}
